body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

.header-contactus {
    margin-top: 30px;
}

.header-contactus h2 {
    font-size: 24px;
    color: var(--text-color);
}

.underline {
    width: 150px;
    border: 2px solid var(--nav-background-color);
    margin: 5px auto;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.social-icon {
    width: 165px;
    margin: 10px;
    text-align: center;
}

.social-icon i {
    font-size: 39px;
    color: var(--nav-background-color);
    margin-bottom: 10px;
    border: 2px solid var(--nav-background-color);
    border-radius: 50%;
    padding: 20px;
}

.social-icon p {
    margin-top: 10px;
    font-size: 14px;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.contact-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.form-group input {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-family: inherit;
    font-size: 14px;
    color: var(--text-color);
}

.form-group select {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-family: inherit; /* Ensures font consistency */
    font-size: 14px; /* Same font size for all fields */
    color: var(--text-color);
}

.contact-form input::placeholder,
.contact-form select::placeholder,
.contact-form textarea::placeholder {
    color: var(--text-color);
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
    font-family: inherit;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--nav-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    .form-group input, .form-group select {
        width: 100%;
        margin-bottom: 10px;
    }

    .social-media {
        flex-direction: column;
    }
}
