#hero {
    display: flex;
    flex-direction: column;
    position: relative;
    top: var(--header-height);
    margin-bottom: 5rem;
    padding: var(--section-padding);
    align-items: center;
}

.section-header {
    margin-bottom: var(--section-header-margin-bottom);
}

.section-subheading {
    margin-bottom: var(--section-subheading-margin-bottom);
}

#hero p {
    margin-bottom: 1.3rem;
}

.cta-link-containers {
    padding: 10px 45px;
    width: fit-content;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--nav-text-color);
    font-weight: 500;
    margin-top: 1rem;
}

#sectors {
    background-color: var(--secondary-bg-color);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#sector-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    place-content: center;
}

.sector-card {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 calc(33.33% - 1rem);
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-shadow: var(--shadow-lg);
    min-width: 20rem;
    max-width: 20rem;
    min-height: 20rem;
    max-height: 20rem;
}

.sector-card i {
    font-size: 2rem;
    margin-bottom: .5rem;
    color: var(--primary-color);
}

.sector-card h3 {
    margin-bottom: calc(var(--section-subheading-margin-bottom) + .3rem);
}

.sector-description {
    min-height: 85px;
    max-height: 85px;
    opacity: .8;
    margin-bottom: var(--section-header-margin-bottom);
    text-overflow: ellipsis;
}

.sector-description p {
    max-height: 85px;
    text-overflow: ellipsis;
}
