body {
    background-color: var(--secondary-bg-color);
}

#sector {
    padding: var(--section-padding);
}

#sector-head {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 20px 20px 0 0;
}

#table-head > div {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
}

.head {
    width: 10rem;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.sort-btn {
    margin-left: .3rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.head i {
    font-size: 12px;
    opacity: .8;
}

.table-row {
    background-color: var(--background-color);
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    border-bottom: 2px solid var(--secondary-bg-color);
    border-radius: 10px;
}

.body {
    width: 10rem;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.name {
    width: 50%;
}

.bookmark {
    width: 10%;
}

.body img {
    height: 50px !important;
    width: 50px !important;
    margin-right: 1rem;
}

button {
    border: none;
    background-color: transparent;
}

.get-btn {
    background-color: var(--primary-color);
    width: 70%;
    height: 70%;
    border-radius: 10px;
    color: var(--nav-text-color);
    font-weight: bolder;
}

.bookmark-btn {
    font-size: 15px;
}
