@{
    ViewData["Title"] = "About Us";
}

<section id="about">
    <div id="about-container">
        <div id="about-content">
            <h1 class="section-header">About Us</h1>
            <h4 class="section-subheader">The Built Environment Innovative Network</h4>
            <p>
                BEIN is a platform built for the networking and convenience of professionals in built environment
                fields. We provide for them a platform to connect, share ideas, and collaborate on projects.
                Our mission is to help our professionals' careers, as well as their fields, grow, expand their networks,
                and stay up-to-date with the latest trends and technologies.
            </p>

            <div id="vision">
                <h3 class="section-subheader">Our Vision</h3>
                <p>
                    To be the leading resource for built environment professionals, facilitating innovation through
                    a centralized platform showcasing and connecting them with the latest technological solutions.
                </p>
            </div>

            <div id="mission">
                <h3 class="section-subheader">Our Mission</h3>
                <p>
                    To accelerate the adoption of technological advancements within the built environment by providing
                    an accessible, user-friendly platform for discovering, exploring, and utilizing innovative software across
                    all sectors.
                </p>
            </div>
        </div>
        <div id="meet-our-leaders">
            <div id="founder">
                <h3 class="section-subheader">Meet Our Founder</h3>
                <div class="leader">
                    <img src="~/images/founder.jpeg" title="Founder" alt="Founder">
                    <h4>Johanus Dane</h4>
                    <p>Founder & CEO</p>
                    <p class="leader-description">
                        John is the founder and CEO of BEIN. He is a seasoned entrepreneur with over 20 years of experience
                        in the built environment fields. John is passionate about creating innovative solutions that help
                        professionals in the built environment fields to connect, collaborate, and grow their careers.
                    </p>
                </div>
            </div>
            <div id="lead-developers">
                <div class="developer">
                    <img src="~/images/lead-dev.jpeg" alt="Developer 1">
                    <h4>John Doe</h4>
                    <p>Full Stack Web Developer</p>
                    <p class="leader-description">
                        John is a skilled full stack web developer led the team and spearheaded the development of this web
                        application.
                    </p>
                </div>
                <div id="mob-dev">
                    <img src="~/images/mob-dev.jpeg" alt="Developer 2">
                    <h4>James Doe</h4>
                    <p>Mobile Developer</p>
                    <p class="leader-description">
                        James is a skilled Flutter mobile developer who played a key role in driving the development of this
                        mobile application.
                    </p>
                </div>
            </div>
        </div>
        <div id="meet-our-developers">
            <h2 class="section-header">Meet Our Developers</h2>
            <div id="developers">
                <div class="developer">
                    <img src="~/images/dev1.jpeg" alt="Developer 3">
                    <h4>Jane Doe</h4>
                    <p>Web UI/UX Designer</p>
                    <p class="dev-description">
                        Jane is a passionate UI/UX Designer who played a key role who's passion was a key component in how the final design of
                        the web application turned out. She is passionate about creating visually appealing, user-friendly, and intuitive designs.
                    </p>
                </div>
                <div class="developer">
                    <img src="~/images/dev2.jpeg" alt="Developer 4">
                    <h4>Simon Doe</h4>
                    <p>Mobile Front-End Developer</p>
                    <p class="dev-description">
                        Simon is a skilled Flutter mobile developer who played a key role in driving the development of this mobile application.
                        He is passionate about his craft and the development of high-performance, intuitive, and visually appealing mobile apps
                        that enhance user experiences and empower businesses to thrive.
                    </p>
                </div>
                <div class="developer">
                    <img src="~/images/dev3.jpeg" alt="Developer 5">
                    <h4>Alex Doe</h4>
                    <p>Web Front-End Developer</p>
                    <p class="dev-description">
                        Alex is a skilled Web Front-End developer who played a key role in driving the development of this mobile application.
                        He is passionate about his craft and the development of high-performance, intuitive, and visually appealing mobile apps
                        that enhance user experiences and empow er businesses to thrive.
                    </p>
                </div>
                <div class="developer">
                    <img src="~/images/dev4.jpeg" alt="Developer 6">
                    <h4>Timothy Doe</h4>
                    <p>Mobile UI/UX Designer</p>
                    <p class="dev-description">
                        Timothy is a skilled Flutter mobile developer who played a key role in driving the development of this mobile application.
                        He is passionate about his craft and the development of high-performance, intuitive, and visually appealing mobile apps
                        that enhance user experiences and empower businesses to thrive.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const linkElement = document.createElement("link");

    linkElement.setAttribute("rel", "stylesheet");
    linkElement.setAttribute("href", "/css/general pages css/about_us.css");

    document.head.appendChild(linkElement);
</script>