@{
    ViewData["Title"] = "Home"; 
}

@using BEIN_Web_App.IClientSideServices;
@inject INavigationService Service

<section id="hero">
    <h1 class="section-header">Revolutionizing the Built Environment Through Innovation</h1>
    <h4 class="section-subheading">
        How Can One Platform Streamline Your Work?
    </h4>
    <p>
        <strong>Welcome to BEIN</strong> - the Built Environment Innovative Network. With a centralized repository of
        cutting-edge tools and software, BEIN empowers professionals to innovate, collaborate, and excel.
        Explore solutions tailored to architecture, engineering, construction, and beyond. From detailed
        software insights to industry news and case studies, BEIN is your gateway to efficiency, innovation,
        and exceptional project outcomes.
    </p>
    <p id="hero-catch-phrase">Transform the way you work—start with BEIN.</p>
    <div class="cta-link-containers" onclick="scrollToSection('sectors')">
        <a class="cta-links">Get Started</a>
    </div>
</section>

<section id="sectors">
    <h2 class="section-header">Sectors We Serve</h2>
    <div id="sector-cards">
        @foreach (var sector in await Service.GetAllSectorsAsync())
        {
            <div class="sector-card">
                <i class="ri-building-2-line"></i>
                <h3>@sector.Title</h3>
                <div class="sector-description">
                    <p>@sector.ShortDescription</p>
                </div>
                <div class="cta-link-containers">
                    <a asp-controller="Public" asp-action="GetSector" asp-route-sectorName="@sector.Title" class="cta-links">Learn More</a>
                </div>
            </div>
        }
    </div>
</section>

<script src="~/js/general pages js/landing_page.js"></script>