@model SoftwareProduct
@{
    ViewData["Title"] = "Add Software";
}

<section id="add-software">
    <div asp-validation-summary="All"></div>
    <form asp-action="AddSoftware" method="post" enctype="multipart/form-data">
        <div id="upload-alert">
            File '' uploaded
        </div>
        <div id="top-fields">
            <div id="left-form-fields">
                <div id="photo-and-name-fields">
                    <input type="file" asp-for="ImageFile" name="image" id="photo" accept="image/*" />
                    <button id="visible-photo-upload-btn" onclick="upload()" type="button">
                        <i class="fa-regular fa-file-image"></i>
                    </button>
                    <input asp-for="Name" id="name" placeholder="Name" />
                </div>
                <input asp-for="Vendor" id="vendor" placeholder="Vendor" />
                <input asp-for="ProjectStage" id="project-stage" placeholder="Project Stage" />
                <input list="sectors" name="sector" placeholder="Sector" />
                <datalist id="sectors">
                    @foreach (var sector in ViewBag.sectors as List<Sector>) 
                    {
                        <option value="@sector.Title">@sector.Title</option>
                    }
                </datalist>
            </div>
            <div id="right-form-fields">
                <input asp-for="Professions" list="professions" id="professions-input" placeholder="Professions">
                <datalist id="professions">
                    <option value="Architect">Architect</option>
                    <option value="Landscaper">Landscaper</option>
                    <option value="Town and Regional Planner">Town and Regional Planner</option>
                    <option value="Land Surveyor">Land Surveyor</option>
                </datalist>
                <textarea asp-for="Description" id="description" placeholder="Description"></textarea>
            </div>
        </div>
        <div id="bottom-fields">
            @{
                Model.Features = [new()];
            }
            <div id="fields">
                <input asp-for="Features.First().Title" id="feature" placeholder="Feature Title" />
                <textarea asp-for="Features.First().Description" id="feature-desc" placeholder="Feature Description"></textarea>
            </div>
            <button onclick="addFeature()" id="add-feature-btn" type="button">
                <i class="fa-solid fa-check"></i>
            </button>
        </div>
        <div id="added-features">
        </div>
        <button id="form-submission-btn" type="submit">Submit</button>
    </form>
</section>

<section id="bulk-addition">
    <form enctype="multipart/form-data">
        <input type="file" id="bulk-upload" hidden accept=".xlsx,.xls" />
        <span>Upload File</span>
        <div id="upload-field">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            <p>Drop file here or <button onclick="bulkUpload()" type="button">Browse Files</button></p>
        </div>
        <div id="uploaded-file">
            <img src="~/images/excel file logo.png" />
            <div id="file-details">
                <strong>File Title</strong>
                <span><strong>File Type</strong> | 10MB</span>
            </div>
            <button onclick="hideElement('uploaded-file')" type="button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <button type="submit" id="submit">Submit</button>
    </form>
</section>

<script src="~/js/admin function pages js/add_software.js"></script>