@model SoftwareProduct
@{
    ViewData["Title"] = "Add Software";
}

<section id="add-software">
    <form>
        <div id="upload-alert">
            File '' uploaded
        </div>
        <div id="top-fields">
            <div id="left-form-fields">
                <div id="photo-and-name-fields">
                    <input asp-for="ImageFile" id="photo" accept="image/*">
                    <button id="visible-photo-upload-btn" onclick="upload()" type="button">
                        <i class="fa-regular fa-file-image"></i>
                    </button>
                    <input asp-for="Name" id="name" placeholder="Name">
                </div>
                <input asp-for="Vendor" id="vendor" placeholder="Vendor">
                <input asp-for="ProjectStage" id="project-stage" placeholder="Project Stage">
                <input asp-for="Sectors.SectorTitle" list="sectors" name="sector" placeholder="Sector">
                <datalist id="sectors">
                    @foreach (var sector in ViewBag.sectors as List<Sector>) 
                    {
                        <option value="@sector.Title">@sector.Title</option>
                    }
                </datalist>
            </div>
            <div id="right-form-fields">
                <input asp-for="Professions" list="professions" id="professions" placeholder="Professions">
                <datalist id="professions">
                    <option value="Architect">Architect</option>
                    <option value="Landscaper">Landscaper</option>
                    <option value="Town and Regional Planner">Town and Regional Planner</option>
                    <option value="Land Surveyor">Land Surveyor</option>
                </datalist>
                <textarea asp-for="Description" id="description" placeholder="Description"></textarea>
            </div>
        </div>
        <div id="bottom-fields">
            <div id="fields">
                <input type="text" id="feature" placeholder="Feature Name">
                <textarea id="feature-desc" placeholder="Feature Description"></textarea>
            </div>
            <button onclick="addFeature()" id="add-feature-btn" type="button">
                <i class="fa-solid fa-check"></i>
            </button>
        </div>
        <div id="added-features">
        </div>
        <button id="form-submission-btn" type="submit">Submit</button>
    </form>
</section>

<section id="bulk-addition">
    <form>
        <input type="file" id="bulk-upload" accept=".xslx">
        <button onclick="bulkUpload()" id="upload-section" type="button">
            <i class="fa-solid fa-file-excel"></i>
            <p>Upload Excel File</p>
        </button>
        <button type="submit" id="submit">
            Submit
        </button>
    </form>
</section>

<script src="~/js/admin function pages js/add_software.js"></script>