@model Sector
@{
    ViewData["Title"] = Model.Title;
}

<section id="sector">
    <div id="sector-head">
        <h1>@Model.Title</h1>
        <p>
            @Model.Description
        </p>
    </div>

    <div id="table-head">
        <div>
            <div class="name head">
                Name
                <button id="sort-name" class="sort-btn">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </button>
            </div>
            <div class="plan head">
                Plan
                <button class="sort-btn">
                    <i class="fa-solid fa-sort"></i>
                </button>
            </div>
            <div class="get head">
                Get
                <button class="sort-btn">
                    <i class="fa-solid fa-sort"></i>
                </button>
            </div>
            <div class="bookmark head"></div>
        </div>
    </div>

    <div id="table-body">
        <div class="table-row">
            <div class="name body">
                <img class="software-logo" src="~/images/dev1.jpeg">
                Architecture
            </div>
            <div class="plan body">
                Free
            </div>
            <div class="get body">
                <button class="get-btn">Get</button>
            </div>
            <div class="bookmark body">
                <button class="bookmark-btn">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
        </div>
        <div class="table-row">
            <div class="name body">
                <img class="software-logo" src="~/images/dev1.jpeg">
                Quantity Surveying
            </div>
            <div class="plan body">
                Free
            </div>
            <div class="get body">
                <button class="get-btn">Get</button>
            </div>
            <div class="bookmark body">
                <button class="bookmark-btn">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
        </div>
        <div class="table-row">
            <div class="name body">
                <img class="software-logo" src="~/images/dev1.jpeg">
                Construction and Project Management
            </div>
            <div class="plan body">
                Free
            </div>
            <div class="get body">
                <button class="get-btn">Get</button>
            </div>
            <div class="bookmark body">
                <button class="bookmark-btn">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
        </div>
        <div class="table-row">
            <div class="name body">
                <img class="software-logo" src="~/images/dev1.jpeg">
                Landscaping
            </div>
            <div class="plan body">
                Free
            </div>
            <div class="get body">
                <button class="get-btn">Get</button>
            </div>
            <div class="bookmark body">
                <button class="bookmark-btn">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<script src="~/js/sector js/sector.js"></script>